*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{font-family: Arial, sans-serif;
  width: 100%;
}

h1{
font-family: 'Roboto', 'Arial', 'Lucida Grande', sans-serif;
text-align: center;
font-size: 50px;
}

/* menu bar */
.contenedor {
  max-width: 1240px;
  margin: auto;
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.contenedor img {
  width: 120px;
  margin: 20px;
}

.menu-bar {
  background-color: rgb(199, 198, 198);
  width: 100%;
}

.menu {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin: 20px;
}

.menu li a {
  text-decoration: none;
  color: #000;
  transition: ease-in-out 0.1s;
}

.menu li a:hover {
  color: #FF2368;
}

.hamburger img {
  width: 36px;
  display: none;
}

/* Menu Hamburger */
.hamburger img {
  width: 36px;
  display: none;
}

.disable {
  display: none;
}

.enable {
  display: block;
}

.active {
  background-color: red;
}

/* Footer */
footer {
  position: relative;
}

.footer-wave{
  width: 100%;
  position: absolute;
  z-index: 1;
  top: -1px;
}

.footer-wave > img {
  width: 100%;
}

.footer-content {
  max-width: 1240px;
  margin: auto;
  position: absolute;
  top: 130px;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  z-index: 2;
  color: white;
}

.footer-nav a,
.footer-content p {
  color: white;
}

@media (max-width: 1500px) {
  .footer-content {
    top: 110px;
  }
}

@media (max-width: 1200px) {
  .footer-content {
    top: 85px;
  }
}

@media (max-width: 1023px) {
  .footer-content {
    top: 50px;
  }
  .footer-content>a{
    width: 20px;
    font-size: small;
  }
}

@media (max-width: 750px) {
  .footer-content {
    top: 30px;
    width: 100%;
  }
  .footer-content>a{
    width: 20px;
    font-size: smaller;
  }
}

@media (max-width: 520px) {
  .contenedor {
    flex-direction: row;
    justify-content: space-between;
  }

  .hamburger img {
    width: 36px;
    display: block !important;
  }

  .menu-bar {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    background-color: #333;
    transform: translateX(-100%);
    transition: transform 0.4s ease-in-out;
    z-index: 100;
  }

  .active-menu {
    transform: translateX(0);
  }

  .menu {
    flex-direction: column;
    padding: 20px;
  }

  .menu li {
    margin: 10px 0;
  }

  .menu li a {
    color: white;
  }

  .hamburger {
    position: absolute;
    right: 10px;
    top: 20px;
  }

  .footer-content {
    top: 0px;
    width: 100%;
  }
}